* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#main-doc {
  margin-left: 290px;
  width: auto;
  padding: 20px;
  max-width: 100%;
  display: block;
  height: auto;
}

header {
  font-size: 30px;
}

p {
  width: auto;
  margin-left: 20px;
  line-height: 1.4;
  color: #616161;
}

ul {
  margin-left: 30px;
  color: #616161;
  line-height: 1.4;
}

li {
  margin-top: 15px;
}

code {
  height: auto;
  text-align: left;
  white-spice: pre;
  position: relative;
  display: block;
  padding: 15px;
  margin: 10px;
  line-height: 2;
  border-radius: 5px;
  background-color: #E0E0E0;
  width: auto;
}

#navbar {
  position: fixed;
  top: 0;
  left: -70px;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 350px;
  border-right: 2px solid black;
}

#navbar ul {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
 
#navbar ul li {
  list-style: none;
  border-top: 1px solid;
  width: 100%;
  padding: 10px 25px;
  margin: 0;
}

#navbar header {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  margin: 10px;
}

.nav-link {
  color: #424242;
  text-decoration: none;
  list-style: none;
}

@media (max-width: 815px) {
  #navbar { 
    background-color: white;
    position: absolute;
    z-index: 1;
    max-height: 268px;
    top: 0;
    padding: 0;
    width: auto;
    border: none;
    border-bottom: 2px solid black;
  }
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }
  #main-doc {
    position: relative;
    margin-left: 0;
    margin-top: 300px;
  }
}
